@use '@angular/material' as mat;
@use 'core/theme' as *;

html {
  @include mat.theme($team-properties);
  @include mat.dialog-theme($team-properties);
  @include mat.button-theme($team-properties);
  @include mat.form-field-theme($team-properties);
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.expansion-overrides((
    container-elevation-shadow: none
  ));
  @include mat.card-overrides((
    subtitle-text-color: mat.get-theme-color($theme, neutral, 50),
    subtitle-text-size: 14px,
    elevated-container-color: mat.get-theme-color($theme, neutral, 20),
  ));
}
