@use '@angular/material' as mat;

$team-properties: (
  color: (
    theme-type: dark,
    primary: mat.$blue-palette
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    bold-weight: 900,
    medium-weight: 400
  ),
  density: (
    scale: -1
  )
);

$theme: mat.define-theme($team-properties);
