<div class="login b-fx b-fx-start-stretch">
    <div class="login-icon b-fx-flex b-fx b-fx-center-center">
        <img src="assets/logo/logo-full.svg" alt="Footie" />
    </div>

    <div class="login-window b-fx-none b-fx-col b-fx-gap-16">
        <f-google-button></f-google-button>

        <div class="b-fx b-fx-start-center b-fx-gap-8">
            <mat-divider class="b-fx-flex" />
            <span class="mat-title-small b-fx-none">OR</span>
            <mat-divider class="b-fx-flex" />
        </div>

        <form ngForm class="b-fx-col" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <mat-form-field>
                <mat-label>Email address</mat-label>
                <input matInput type="email" required formControlName="email" />
                <mat-icon matPrefix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" required formControlName="password" />
                <mat-icon matPrefix>password</mat-icon>
            </mat-form-field>

            <button type="submit" mat-raised-button>Continue</button>
        </form>
    </div>
</div>
