@use '@angular/material' as mat;
@use 'core/theme' as *;

:host {
  display: block;
  overflow: hidden;
}

.match {
  width: fit-content;
  max-width: 100%;
}

.name-wrapper {
  overflow: hidden;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-won {
  .home {
    font-weight: 800;
  }

  .away {
    color: mat.get-theme-color($theme, neutral, 70);
  }
}

.away-won {
  .away {
    font-weight: 600;
  }

  .home {
    color: mat.get-theme-color($theme, neutral, 70);
  }
}
