<table mat-table [dataSource]="leagueRankings()" multiTemplateDataRows>
    @for (col of displayedColumns; track col; let i = $index) {
        <ng-container [matColumnDef]="col" [sticky]="stickyColumns[i]">
            <th mat-header-cell *matHeaderCellDef>{{ columnHeaders[i] }}</th>
            <td mat-cell *matCellDef="let ranking">
                <ng-container
                    *ngTemplateOutlet="columnCells[i]?.() || defaultCellTmpl; context: { $implicit: ranking }"
                />

                <ng-template #defaultCellTmpl>{{ ranking[col] }}</ng-template>
            </td>
        </ng-container>
    }

    <ng-container matColumnDef="team-match-details" sticky>
        <td mat-cell *matCellDef="let ranking" [attr.colspan]="displayedColumns.length">
            <div class="team-matches-wrapper">
                <div class="team-matches b-fx">
                    <div class="team-matches-list b-fx-col b-fx-gap-8">
                        <table mat-table [dataSource]="ranking.matchDetails">
                            <ng-container [matColumnDef]="'date'">
                                <td mat-cell *matCellDef="let match">
                                    {{ match.time | date: 'dd-MM-yy@HH:mm' }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="'location'">
                                <td mat-cell *matCellDef="let match">
                                    {{ match.location }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="'homeTeam'">
                                <td mat-cell *matCellDef="let match">
                                    {{ (match.homeTeam | team | async)?.name }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="'score'">
                                <td mat-cell *matCellDef="let match">
                                    {{ match.scoreHomeTeam }} - {{ match.scoreAwayTeam }}
                                </td>
                            </ng-container>

                            <ng-container [matColumnDef]="'awayTeam'">
                                <td mat-cell *matCellDef="let match">
                                    {{ (match.awayTeam | team | async)?.name }}
                                </td>
                            </ng-container>

                            <tr
                                mat-row
                                [class.played]="row.scoreHomeTeam != null"
                                *matRowDef="let row; columns: ['date', 'location', 'homeTeam', 'score', 'awayTeam']"
                            ></tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <ng-template let-ranking #teamCellTmpl>{{ (ranking.team | team | async)?.name }}</ng-template>

    <ng-template let-ranking #goalsCellTmpl>{{ ranking.goalsFor }}-{{ ranking.goalsAgainst }}</ng-template>

    <ng-template let-ranking #last5CellTmpl><f-match-last-5 [ranking]="ranking" /></ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="team-row"
        [class.active]="row.team === team()?.id"
        [class.expanded]="teamMatchDetailsExpanded().includes(row.team)"
        (click)="toggleTeamMatchDetails(row.team)"
    ></tr>

    <tr mat-row *matRowDef="let row; columns: ['team-match-details']" class="team-match-details-row"></tr>
</table>
